<div class="flex items-center gap-8 mt-4">
  <div>
    <%= image_tag(comment.user.avatar, size:'25x25', class:"mini_avatar") if comment.user.avatar.attached? %>
    <%= comment.user.name %>
  </div>
  <div>
    <strong><i class="text-slate-300"><%= "il y a #{time_ago_in_words(comment.created_at)}" %></i></strong>
    <br>
    <b><%= comment.texte %></b>
  </div>
</div>