<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Oubli de mot de passe</h3>

    Pour vous connecter, utilisez les informations suivantes:<br><br>

    Utilisateur: <%= @user.username %><br>
    Mot de passe: <%= @password %><br><br>

    Une fois connecté(e), vous pourrez changer votre mot de passe. <br><br>

    <%= link_to "Se connecter", projects_url %>

  </body>
</html>
