<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello !</h3>
    Vous avez été invité par <b><%= @user.name %></b> à participer au projet <b>'<%= @project.name %>'</b>. <br><br>

    </p>
  </body>
</html>
