<!DOCTYPE html>
<html>
  <head>
  	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h3>Hello !</h3>
  	<p>
  		<%= raw strip_links(@log.user.name + " a " + @log.description) %>
  	</p>
  	<p>
  		<% if @log.todolist %>
	  		Ouvrir le projet <%= link_to "#{@log.project.name}:#{@log.todolist.name}", @log.todolist %>
  		<% else %>
	  		Ouvrir le projet <%= link_to @log.project.name, @log.project %>
  		<% end %>
  	</p>
  </body>
</html>
