<h1>Les activités de la semaine des projets suivis</h1>

<% @projects.each do |project| %>
  <% if project.weekly_logs.any? %>
    <h2 style="border-left: 7px solid <%= project.color %>; padding-left: 0.5rem;">
      <%= project.name.humanize %>
    </h2>
    <%= render partial:'partials/mailer_logs', collection: project.weekly_logs, as: :log, day:0, user_id:0 %>
    <br><br>
  <% end %>
<% end %>