<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bonjour <%= @user.name %> !</h3>
    Vous participez à présent au projet <b>'<%= @project.name %>'</b>. <br><br>

    Rappel<br>
    Pour vous connecter, utilisez les informations suivantes:<br><br>

    URL: <%= link_to projects_url, projects_url %><br>
    Utilisateur: <%= @user.username %><br><br>

    A bientôt...<br>

  </body>
</html>
