<h1 style="text-align: center">Bienvenue !</h1>

Votre compte Camino a été créé avec succès.
<br><br>
Pour vous connecter, cliquez sur le lien suivant :
<%= link_to root_url, root_url %>

<p>En cas de besoin, vous pouvez nous contacter à l'adresse suivante : <%= link_to "https://www.aikku.eu/contact", "https://www.aikku.eu/contact?objet=Aikku_PROJECTS" %></p>
