<footer class="footer fixed bottom-0 hero bg-base-200 text-center font-bold mt-12">
  <ul class="list-unstyled">
    <li class="text-muted">
      Camino2 est un service proposé par 
      <%= link_to 'Philnoug & Partners', 'https://philnoug.com', target: '_blank', class:'link z-50' %>
      - Siret : 384 396 719 00047 - APE : 5829C 
    </li>
  </ul>
</footer>