<footer class="footer fixed bottom-0 hero bg-base-200 text-center font-bold mt-12">
  <ul class="list-unstyled">
    <li class="text-muted">
      Aikku PROJECTS est un logiciel proposé par 
      <%= link_to 'AIKKU SAS', 'https://www.aikku.eu', target: '_blank', class:'link z-50' %>
    </li>
  </ul>
</footer>