<h1>Vos abonnements</h1>
<div class="mb-8 pl-2" style="border-left: 7px solid <%= @participant.project.color %>">
  <h2>Projet: <%= @participant.project.name %></h2>
</div>

<%= render 'form' %>

<%= link_to 'Retour', user_path(@participant.user.slug) %>
