<div id="welcome">
    <h2 class="my-4">Gérez vos projets en équipe et en mobilité</h2>
  <ul>
    <li>Découpez vos projets en listes de choses à faire</li>
    <li>Invitez vos contacts à participer aux projets</li>
    <li>Assignez aux participants les choses à faire, fixez des échéances.</li>
    <li>Suivez l'activité des participants en vous abonnant aux notifications (travaux terminés, nouveaux commentaires, ajout/modification...)</li>
    <li>Créez des formulaires pour collecter des données complémentaires à vos projets (inventaire, rapport d'intervention, etc.)</li>
  </ul>

    <h2 class="my-4">Fonctionnalités</h2>
  <div>
    <ul>
      <li>Création rapide de projets à partir de vos <b>modèles de projets</b></li>
      <li>Choix du <b>workflow</b> (type de déroulement de projet) :
        <ol>
          <li>Libre; les tâches peuvent être terminées librement, dans n'importe quel ordre</li>
          <li>Linéaire; toutes les tâches d'une liste doivent être terminées avant de pouvoir passer à la liste suivante.<br>
          Quand une tâche est terminée, le participant assigné à la tâche suivante en est immédiatement informé.</li>
        </ol>
      </li>
      <li>Un <b>journal</b> recense, minute par minute, l'activité des participants. Toutes les modifications y sont consignées.</li>
      <li>Un <b>agenda</b> permet de visualiser les échéances globales</li>
      <li>La <b>'To-do'</b> liste les choses à faire, en attente, en souffrance ou faites par participant</b>
      <li>Les participants peuvent mener des <b>discussions</b> autour de choses à faire</li>
      <li>Une <b>notification</b> (via courriel) peut être envoyée aux participants du projet :
        <ol>
          <li>Après chaque modification, ajout ou suppression d'information</li>
          <li>Lors de l'assignation d'une tâche à un participant</li>
          <li>Avant chaque échéance</li>
        </ol>
      </li>
      <li>Une notification peut être envoyée à un <b>participant extérieur</b> au projet (client) à la réalisation d'une tâche</li>
      <li>Regroupement des projets par <b>mots-clés</b></li> 
      <li>Une <b>couleur</b> pour chaque projet afin de mieux repérer les informations s'y rapportant</li>
    </ul>
  </div>

  <h2 class="my-4">Formulaires & Tables de données</h2>
  <p>
    Créez vos propres formulaires pour collecter des informations complémentaires à vos projets (temps passé, ressources consommées, rapports d'intervention, etc.).
    Ces formulaires peuvent contenir des données variées (texte, nombre, euros, oui/non, liste déroulante).
    Les données sont collectées dans des tables de données que vous pouvez ensuite exporter vers Excel.</p>

  <h2 class="my-4">Mobilité</h2>
  <p>Accédez à Camino depuis votre smartphone</p>
  <p>Saisissez l'URL https://camino2.herokuapp.com dans le navigateur Web de votre téléphone.</p>

  <h2 class="my-4">Projet Open-Source</h2>
  <p>
    Les sources de ce projet sont disponibles ici :
    <%= link_to "https://github.com/philippe-nougaillon/Camino2", "https://github.com/philippe-nougaillon/Camino2" %>
  </p>

</div>

<%= link_to "Connexion", new_user_session_path, class:'btn btn-ghost btn-active my-12' %>