<h1 class="mb-6">Modification projet</h1>

<%= render 'form' %>

<%= link_to "Enregistrer ce projet comme modèle", 'save_as_template', class:'link' %> |
<%= link_to 'Annuler', @project, class:'link' %>
<%= button_to "Supprimer ce projet",
              @project, method: :delete,
              form: { data: {'turbo-confirm': "--- ATTENTION ! ---\n\n Vous êtes sur le point de supprimer définitivement ce projet ! Cette action est IRRÉVERSSIBLE !" } },
              class:"mb-6" %>