<%= link_to edit_todo_path(todo) do %>
  <div class="border-b border-slate-300 px-4 py-4">
    <strong><i class="text-slate-300"><%= todo.todolist.name %></i></strong>
    <br>
    <strong><%= todo.name.humanize %></strong>
    <br>
    <% todo.tags.each do |tag| %>
      <p class="text-slate-300 badge badge-outline badge-xs"><%= tag.name %></p>
    <% end %>
  </div>
<% end %>