.calendar tr:nth-child(odd) {
	background: #f0f0f5;
}


table.calendar { table-layout:fixed; width:100%; }

.calendar-header {
	font-size:30px;
	font-weight:bold;
	color:#005f5f;
	margin-bottom:15px;
}

.day { 
	height:100px; 
	width:14.28%; 
	border:1px solid grey;
	vertical-align:top;
	padding-bottom:10px;
	overflow: hidden;
}

#date {
}

.prev-month {
	background: lightgrey 
}

.next-month {
	background: lightgrey 
}

.today {
	background-color: lightyellow;
}
