@tailwind base;
@tailwind components;
@tailwind utilities;

@layer directive{
  h1, h2, h3, h4, h5, h6, p, small, strong, b, a, i, li, span, label{
    /* text-base-content */
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
  }

  th, td{
    /* text-accent */
    --tw-text-opacity: 1;
      color: hsl(var(--a)/var(--tw-text-opacity));
  }

  .prev, .next, .page, .last, .first{
    /* text-accent */
    --tw-text-opacity: 1;
      color: hsl(var(--a)/var(--tw-text-opacity));
    
    /* border-accent */
    --tw-border-opacity: 1;
    border-color: hsl(var(--a)/var(--tw-border-opacity));
  }

}

@layer components {

  h1{
    @apply !text-3xl !font-bold
  }
  h2{
    @apply !text-2xl !font-bold
  }

  #connexion{
    @apply p-8 border-2 rounded-xl mt-12 max-w-fit
  }
  .field{
    @apply mb-4
  }
  .field input{
    @apply rounded
  }

  /* //// PAGINATION //// */

  .prev, .next, .page, .last, .first{
    @apply ml-2 rounded-lg py-1 px-2 inline-block font-medium border-2
  }

  .current{
    @apply font-black
  }

  /* //PAGINATION */
}