/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: 'Roboto', sans-serif;
}

.camino-footer:before{
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 3px #346abf solid;
  transition: all .8s;
}
.camino-footer:before {
  top: -3px;
  left: -3px;
  border-width: 3px 0 0 3px;
}
.camino-footer:hover.camino-footer:before, .camino-footer:hover.camino-footer:after {
  width: calc( 100% + 3px );
  height: calc( 100% + 3px );
}

.table#documents_table td {
  vertical-align: middle;
}

.camino-animation{
  animation: button-pop var(--animation-btn,.25s)ease-out;
  transition-property: color,background-color,border-color,-webkit-text-decoration-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.camino-animation:hover, .camino-animation:active{
  --tw-border-opacity: 1;
  border-color: hsl(var(--nf,var(--n))/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
}

.camino-animation:focus-visible{
  outline: 2px solid hsl(var(--nf));
  outline-offset: 2px;
}
.camino-animation:active:hover, .camino-animation:active:focus{
  animation: none;
  transform: scale(var(--btn-focus-scale,.95));
}


/* /// NAVBAR //// */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 10px;
  left: 0;
  background-color: hsl(var(--bc)/var(--tw-text-opacity));
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* //NAVBAR */